       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        *{
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
     img {
    max-width: 100%;
    height: auto;
   }

   h1{
       font-size: 55px;
       position: absolute;
       left: 665px;
       top: 0;
       font-weight: 900;
       color: rgb(0, 0, 36);
   }
   h3{
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 36);
       position: absolute;
       left: 665px;
       top: 100px;
   }
   p{
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 36);
       position: absolute;
       left: 665px;
       top: 200px;
   }
   .btn{
       position: absolute;
       left: 665px;
       top: 330px;
       padding: 10px 15px;
       cursor: pointer;
       color: white;
       background-color: orange ;
       border: 1px solid transparent;
       transition: 0.3s;
   }
   .btn:hover{
    background-color: rgb(255, 72, 0) ;
       box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
   }

  
   @media(max-width:992px){
    img {
    max-width: 100%;
    height: auto;
   }
   h1{
       font-size: 30px;
       position: absolute;
       left: 20px;
       top: 280px;
       font-weight: 900;
       color: rgb(0, 0, 36);
   }
   h3{
    font-size: 27px !important;
    font-weight: 600;
    color: rgb(0, 0, 36);
       position: absolute;
       left: 20px;
       top: 325px;
   }
   p{
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 36);
       position: absolute;
       left: 20px;
       top: 380px;
   }
   .btn{
       position: absolute;
       left: 20px;
       top: 520px;
       padding-bottom: 20px;
       padding: 10px 15px;
       cursor: pointer;
       color: white;
       background-color: orange ;
       border: 1px solid transparent;
       transition: 0.3s;
   }
}
